API_KEY = "123123b123m123k123k12k312k3"
CLIENT_ID = "asdasdas12312312312asdasd.apps.googleusercontent.com"

FOLDER_ID = "123960025123"
ORGANIZATION_ID = "241111102148"

PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\nMI...UA\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL = "jsontest-111@testing-1-bcpa.iam.gserviceaccount.com"
PROJECT_ID = "abc-xyz"

ACCESS_TOKEN = "123123...ApDFLDruIVuA"
REFRESH_TOKEN = "1//....9zcjIg"
SCOPE = "openid https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/dialogflow"
TOKEN_TYPE = "Bearer"

# For firebase
FIREBASE_CLIENT_EMAIL = "test-platform@test-sandbox1.iam.gserviceaccount.com"
FIREBASE_DATABASE_URL = "https://test-sandbox1.firebaseio.com"
FIREBASE_PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\nAasd1...123ASFDSss=\n-----END PRIVATE KEY-----\n"
FIREBASE_PROJECT_ID = "test-sandbox1"